<head>
    <link rel="stylesheet" href="../static/main.css">
    <title>MusicBox</title>
</head>
<body>
    <header class ="cabecalho">
        <main>
            <div class="header_1">
                <div class ="logo">
                    <img src="../static/logo.png" alt="logo"></a>
                </div>
            </div>
        </main>
    </header>
    <main class="menu_urls">
        <div class="cabecalho_2">
            <div class="menu">
                <ul>
                    <li>
                        <a href="/juntese">Junte-se ao show</a>
                    </li>
                    <li>
                        <a href="/selec_plano">Planos</a>
                    </li>
                    <li>
                        <a href="/lista_usuario">Associados</a>
                    </li>
                    <li>
                        <a href="/projeto">O Projeto</a>
                    </li>
                    <li>
                        <a href="/itens_cadastro">Cadastre Itens</a>
                    </li>
                    <li>
                        <a href="/lista_itens">Lista de Itens</a>
                    </li>
                </ul>
            </div>
            <div class="busca">
                <input placeholder="Busca algo?" type="text">

            </div>
        </div>
    </main>
    {% block index %}

    {% endblock %}
</body>
</html>
<html>

    
    
    
    
    
                    
                
            
